root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{j,t}s]
max_line_length = 100

[*.css]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
