node_modules/
*.swp
.lock-wscript
lib/
out/
out-test/
.nyc_output/
Makefile.gyp
*.Makefile
*.target.gyp.mk
*.node
example/*.log
docs/
npm-debug.log
/.idea/
.env
build/
.DS_Store
package-lock.json

# Keep bundled code out of Git
dist/
demo/dist/

# dont commit benchmark folders
.benchmark/
timeline/
