# Blacklist - exclude everything except npm defaults such as LICENSE, etc
*
!*/

# Whitelist - entries to be included must be negated with "!"
!*.js
!*.json

# Whitelist - dist/
!dist/**/*.js
!dist/**/*.js.map

!dist/**/*.css

# Whitelist - lib/
!lib/**/*.d.ts

!lib/**/*.js
!lib/**/*.js.map

!lib/**/*.css

# Whitelist - src/
!src/**/*.ts
!src/**/*.d.ts

!src/**/*.js
!src/**/*.js.map

!src/**/*.css

# Whitelist - typings/
!typings/*.d.ts

# Blacklist - (normal behavior) these will override any whitelist
*.test.ts
*.test.d.ts
*.test.js
*.test.js.map
lib/test/

docs/
/.idea/
.vscode/
build/
fixtures/
coverage/
demo/
