html, body { height: 100%; }

body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    margin: 0;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 100%;
    height: 100%;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}
