
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
}

#terminal-container {
    width: 100%;
    height: 99%;
    margin: 0;
    padding: 0;
}
