body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    height: 60%;
    margin: 0 auto;
    padding: 2px;
}

p {
    font-size: 0.9em;
    font-style: italic
}

#option-container {
    display: flex;
    justify-content: center;
}

.option-group {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
}

pre {
    display: block;
    padding: 9.5px;
    font-size: 13px;
    color: #c7254e;
    background-color: #f9f2f4;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}


#container {
    display: flex;
}
.grid {
    flex: 1;
    /* max-height: 80vh;
    overflow-y: auto; */
    width: 100%;
    min-width: 100px;
}
div:first-of-type.grid {
    flex: 2;
    height: 60vh;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
  }

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#texture-atlas-zoom:checked + label + #texture-atlas canvas {
    /* Zoom atlas to the width of the container*/
    width: 100% !important;
    height: auto !important;
}
#texture-atlas {
    width: 100%;
}
#texture-atlas canvas {
    image-rendering: pixelated;
    border: 1px solid #ccc;
}

.vt-button * {
  margin-right: 1em;
}
input#opt-cols_rows {
    width: 6em;
}
